<header class="py-4">
  <div class="container mx-auto flex items-center justify-between">
    <div class="text-xl font-semibold">
      <%= link_to "Rails CheatSheet", root_path, class: "hover:text-blue-300" %>
    </div>
    <nav>
      <ul class="flex space-x-4 items-center">
        <li>
          <%= link_to "Twitter", tweets_path, class: "hover:text-blue-300" %>
        </li>
        <li>
          <%= link_to "Absurd Generator", absurd_generator_index_path, class: "hover:text-blue-300" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
